{{page-title "Index"}}
{{outlet}}

<Navbar/>

<div class="container mx-auto">
  <div class="prose">
  <div data-sb-object-id="pages/index.md">
    <h1 data-sb-field-path="title">{{this.model.title}}</h1>
    Answer:
    <div data-sb-field-path="markdown_content">{{{this.model.html}}}</div>
  </div>
  </div>
</div>
